.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #ece6e6;

    padding: 1rem;
    z-index: 10;
  }
  
 
 
  
  .welcome-message h1 {
    font-size: 12px;
  }
  
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  
  
  .search-container {
    display: none;
  }
  
  @media (min-width: 768px) {
    .search-container {
      display: block;
    }
  }
  
  .search-input {
    background-color: rgba(99, 102, 241, 0.3);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.6);
  }
  
  .search-input:focus {
    ring-width: 2px;
    ring-color: #4f46e5;
  }
  
 
  .profile-container {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  
  .notification-button {
    position: relative;
    font-size: 28px;
    color: #4b5563; 
  }
  
  .go-bell {
    font-size: 28px; 
  }
  
  
  .profile-image {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 4px solid #6366f1; 
  }
  