<div class="header-container" style="background-color: #4a90e2;">
    <div class="welcome-message">
      
    </div>
    <div class="header-actions">
      <div class="search-container">
       
      </div>
      <div class="profile-container">
        <!-- <button class="notification-button">
          <i class="go-bell"></i>
        </button> -->
        <img
          class="profile-image"
          src="https://randomuser.me/api/portraits/women/50.jpg"
          alt="User Profile"
        />
      </div>
    </div>
  </div>
  